@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
  background-color: #09090b;
}

.text-gradient {
  background: linear-gradient(to right, #3b82f6, #60a5fa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-grid {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cpath d='M0 40L40 40L40 0L39 0L39 39L0 39L0 40Z' fill='%23ffffff' fill-opacity='0.03'/%3E%3C/svg%3E");
}